@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px) {
    body {
        background-image: linear-gradient(to bottom, rgba(29, 218, 231, 0.829), rgba(169, 9, 243, 0.692));
    }

    section#login {
        width: 80vw;
        height: 300px;
    }

    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }

}

@media screen and (min-width:992px) {
    body {
        background-image: linear-gradient(to bottom, rgba(29, 218, 231, 0.829), rgba(169, 9, 243, 0.692));
    }
    
    section#login {
        width: 950px;
        height: 350px;
    }

    section#login > div#imagem {
        float: left;
        width: 45%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 55%;
    }

    div#formulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1.2em;
    }
}